.post {
  background-color: #f9f9f9; /* 포스트 배경색 */
  border-radius: 12px; /* 모서리 둥글게 */
  padding: 24px; /* 내부 여백 */
  margin: 24px auto; /* 중앙 정렬 및 상하 여백 */
  max-width: 600px; /* 최대 너비 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  border: 1px solid #eaeaea; /* 경계선 */
}

.post img {
  width: 120px; /* 이미지 너비 */
  height: 120px; /* 이미지 높이 */
  border-radius: 50%; /* 이미지 원형으로 */
  display: block; /* 이미지를 블록 요소로 */
  margin: 0 auto 20px; /* 중앙 정렬 및 하단 여백 */
  padding: 3px; /* 내부 여백 */
  border: 5px solid #FFD700; /* 경계선 색상 및 두께 설정 */
}

.post li {
  list-style-type: none; /* 목록 기호 제거 */
  margin-bottom: 12px; /* 하단 여백 */
  color: #333; /* 글자색 */
  font-family: 'Helvetica Neue', Arial, sans-serif; /* 글꼴 변경 */
  font-size: 16px; /* 글자 크기 설정*/
}

.post p {
  color: #595959; /* 단락 글자색 조정 */
  font-size: 15px; /* 글자 크기 조정 */
  line-height: 1.6; /* 줄 간격 조정 */
}

/* 좋아요 및 댓글 스타일 */
.post div + p {
  text-align: right; /* 우측 정렬 */
  color: #808080; /* 글자색 변경 */
  margin-top: 20px; /* 상단 여백 */
  font-size: 13px; /* 글자 크기 조정 */
}
